{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "import"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".tsx"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx"]
      }
    }
  }
}
