/*body {
  min-width: 900px;
}*/
.g-c_12 {
  width: 900px;
}
.g_1,
.g_2,
.g_3,
.g_4,
.g_5,
.g_6,
.g_7,
.g_8,
.g_9,
.g_10,
.g_11,
.g_12 {
  display:inline;
  float: left;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;
}
.g-c_12 .g_1 {
  width:75px;
}
.g-c_12 .g_2 {
  width:150px;
}
.g-c_12 .g_3 {
  width:225px;
}
.g-c_12 .g_4 {
  width:300px;
}
.g-c_12 .g_5 {
  width:375px;
}
.g-c_12 .g_6 {
  width:450px;
}
.g-c_12 .g_7 {
  width:525px;
}
.g-c_12 .g_8 {
  width:600px;
}
.g-c_12 .g_9 {
  width:675px;
}
.g-c_12 .g_10 {
  width:750px;
}
.g-c_12 .g_11 {
  width:825px;
}
.g-c_12 .g_12 {
  width:900px;
}
.g-clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.g-clearfix:before,
.g-clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.g-clearfix:after {
  clear: both;
}
.g-clearfix {
  zoom: 1;
}
.g-r_1 {
  height: 150px;
}
.g-r_2 {
  height: 300px;
}
.g-r_3 {
  height: 450px;
}
 g-r_3